th,
tr,
td {
  border: 1px solid black;
  text-align: center;
  color: black;
}
table {
  margin: 10px 10px 10px 300px;
  width: 55%;
  border: 2px solid;
}

#editb {
  width: 80%;
  background-color: palevioletred;
  border-radius: 12px;
  text-align: center;
}
.sty {
  margin: 20px 10px 10px 10px;
  border-radius: 8px;
  background-color: palevioletred;
  width: 90px;
}
#fname {
  border-radius: 8px;
  width: 200px;
}
#lname {
  border-radius: 8px;
  width: 200px;
}
#inputBoxDiv {
  margin: 10px 10px 10px 400px;
  background-color: mistyrose;
  width: 40%;
  padding: 20px 2px 20px 2px;
}
