th,tr,td {
  border: 1px solid black;
  text-align: center;
  color: black;
 }
 th {
   color: darkslategray;
 }

table {
    margin: 10px 10px 10px 10px;
    width: 55%;
    border: 2px solid;
  }

#editb {
width: 80%;
background-color:cadetblue;
border-radius: 12px;
text-align: center;
}
  